<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="bg-gray-50 min-h-screen flex flex-col">
    <%- include('../partials/topbar') %>
        <%- include('../partials/modals') %>
            <%- include('../partials/header') %>
                <%- include('../partials/navigation') %>

                    <div class="flex-grow">
                        <%- body %>
                    </div>

                    <%- include('../partials/footer') %>

                        <script src="https://cdn.tailwindcss.com"></script>
                        <script src="/js/scripts.js"></script>
</body>

</html>
